/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: CircularSpTitle, "CircularSpTitle-Tall", "CircularSp-Arab",
    "CircularSp-Hebr", "CircularSp-Cyrl", "CircularSp-Grek", "CircularSp-Deva",
    var(--fallback-fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: CircularSpTitle, "CircularSpTitle-Tall", "CircularSp-Arab",
    "CircularSp-Hebr", "CircularSp-Cyrl", "CircularSp-Grek", "CircularSp-Deva",
    var(--fallback-fonts);
}
.content {
  background: linear-gradient(to bottom, #00000099, #121212);
  padding: 20px;
  border-radius: 8px;
  color: white;
}
